<style type="text/css">
.well {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
</style>
<br/><br/><br/>
<div class="row contact_row">
    <div class="col-md-5 contact_div">
      <div class="well">
        <legend>Sign into your account</legend>
       <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:class => "form"}) do |f| %>           
          <div class="form-group">
             <%= f.email_field :email, :required => true, :class=>"form-control", :placeholder=>"Email" , :style=>"height:50px;font-size: 17px;" %>
          </div>
          <div class="form-group">
             <%= f.password_field :password, :required => true, :class=>"form-control", :placeholder=>"Password", :style=>"height:50px;font-size: 17px;" %>
           </div>
           <div class="form-group">
         <% if devise_mapping.rememberable? -%>
        
          <%= f.check_box :remember_me %>
          <!-- Remember me  <span>&nbsp;&nbsp;&nbsp;<a>Can't access your account?</a></span> -->
          
          Remember me  <span>&nbsp;&nbsp;&nbsp; <%= link_to " Can't access your account?", new_password_path(resource_name) %></span>
        
      
        <% end -%>
    </div>      
               <button class="btn btn-primary btn-success" type="submit">Sign in</button>  
      <% end %>
      <label>New to WakeUpSales? <a href="/" id="pass_login1"> <span>&nbsp;Join Now!</span></a></label>
      </div>
    </div>
</div>
<%=stylesheet_link_tag "home"%>
